[submodule "registration"]
	path = registration
	url = https://github.com/fnstudio/django-registration.git
[submodule "static/foundation"]
	path = static/foundation
	url = https://github.com/zurb/foundation.git
