- extends "base.html"

-block title
  Login to Mbrace

-block content
  .row
    .large-10.medium-12.small-12.large-centered
      -if form.errors
        %p Your username and password didn't match. Please try again.

      %form{'method': 'post', 'action': '{% url "django.contrib.auth.views.login" %}'}
        {% csrf_token %}
          .row
            .large-2.columns
              {{ form.username.label_tag }}
            .large-10.columns
              {{ form.username }}
            .large-2.columns
              {{ form.password.label_tag }}
            .large-10.columns
              {{ form.password }}

        %input{'type': 'submit', 'value': 'Login'}
        %input{'type': 'hidden', 'value': '{% url "dashboard" %}', 'name': 'next'}
