- extends "base.html"

-block title
  Create an account

-block content
  %h1 Create an account

  %form{ 'method': 'post' }
      {% csrf_token %}
      {{ form.as_p }}

      %input{'type': 'submit', 'value': 'Create the account'}
