- extends "base.html"

-block title
  MBrace: Registration Complete

-block content
  .row
    .large-6.medium-12.small-12.large-centered
      Cool beans, we've sent you an email which you can use to activate your account!
