- extends "base.html"

- block title
  Mbrace: Dashboard

- block content
  .row
    .large-12.medium-12.small-12.columns
      %h1 My Dashboard

  - if user
    - if not user.filled_out
      .row
        .alert-box.alert
          You have not finished configuring your profile. You'll need to
          %a{class: 'white', href: '{% url "profile" current_user.id %}'} fill in your profile
          before doing anything fun.
    - else
      .row
        .large-6.large-centered.medium-8.small-12.columns
          %a{href: "{% url 'new_hug' %}", class: 'button expand' }
            I could use a hug.

  .row
    .large-6.medium-6.small-12.columns
      %h2 Friends' Activity

      %ul.friends-activities.no-bullet
        - for hug in friend_hugs
          - if hug.user_delivering == null
            %li
              %strong
                %a{href: "{% url 'profile' hug.user_in_need.id %}"}= hug.user_in_need.username
              is in need of a
              %a{href: "{% url 'edit_hug' hug.id %}"} hug
              !
          - else
            %li
              %strong
                %a{href: "{% url 'profile' hug.user_in_need.id %}"}= hug.user_in_need.username
              got a hug from
              %strong
                %a{href: "{% url 'profile' hug.user_delivering.id %}"}= hug.user_delivering
              !

    .large-6.medium-6.small-12.columns
      %h2 Nearby Activity

      %ul.nearby-activities.no-bullet
        - for hug in nearby
          - if hug.user_delivering == null
            %li
              %strong
                %a{href: "{% url 'profile' hug.user_in_need.id %}"}= hug.user_in_need.username
              is in need of a
              %a{href: "{% url 'edit_hug' hug.id %}"} hug
              !
          - else
            %li
              %strong
                %a{href: "{% url 'profile' hug.user_in_need.id %}"}= hug.user_in_need.username
              got a hug from
              %strong
                %a{href: "{% url 'profile' hug.user_delivering.id %}"}= hug.user_delivering
              !


  .row
    .large-12.medium-12.small-12.columns
      %h2
        %small Other Actions
      %a{class: 'button', href: '{% url "profile" current_user.id %}'} Update my profile

  :javascript
    $(document).ready(function() {
      if("geolocation" in navigator) {
        var locationize = function() {
          navigator.geolocation.getCurrentPosition(function(pos) {
            $.ajax({
              url: '{% url "update_location" %}',
              data: pos
            });
          }, function() {
            alert("Geolocation is unavailable; Please make sure that your click the 'Share Location' button in your browser!");
          }, {
            enableHighAccuracy: true,
            timelout: 60000
          });
        }
        setInterval( locationize, 60000);
        locationize();
      }
    });
