- extends "base.html"

- block title
  Mbrace: Dashboard

- block content
  .row
    .large-12.medium-12.small-12.columns
      %h1 My Dashboard

  .row
    .large-6.large-centered.medium-8.small-12.columns
      %a{href:'/FIXME', class: 'button expand' }
        I could use a hug.

  .row
    .large-6.medium-6.small-12.columns
      %h2 Friends' Activity

    .large-6.medium-6.small-12.columns
      %h2 Nearby Activity
