- extends "base.html"

- block content
  .row.full-width
    .large-12.medium-12.small-12.columns
      %p
        This is a hugging enablement platform. Hugging as a Service, if you will.
        People need hugs and social interaction, that's a fact of life, but
        there are times when friends and family aren't available to provide
        these things. This is where mbrace comes in. You need a hug, or just
        someone to chat with, someone nearby needs that, too, or is willing to
        provide it.

      %p
        Log in, send a meeting request, someone reaches out to you. You meet
        up, hug it out, have a quick chat about what's going on in your lives.
        When you're done, you give your hug buddy a rating and a review, to
        provide future patrons an idea of what they're in for.

      %p
        This is not a dating platform.

      %p
        This is not a hookup platform.

      %p
        This is about giving people some love when they need it.

      %p
        %i This is also a work in progress. :)
