- extends "base.html"

- block content
  .row.full-width
    .large-12.medium-12.small-12.columns
      %p
        This is a hugging enablement platform. Hugging as a Service, if you will.
        People need hugs, that's a fact of life, but there are times when friends and
        family aren't available to provide them. This is where mbrace comes in. You
        need a hug, hopefully someone nearby needs one or is willing to provide one.

      %p
        Log in, send a hug request, someone reaches out to you. You meet up, hug it
        out, maybe have a quick chat about what's going on in your lives. When you're
        done, you give your hug buddy a rating and a review, to provide future patrons
        an idea of what they're in for.

      %p
        This is not a dating platform.

      %p
        This is not a hookup platform.

      %p
        This is about giving people some love when they need it.

      %p
        Need some love? Have some extra to give out?
        <a href='{% url "registration_register" %}'>Register an account and spread the love</a>.

      %p
        Already a user? <a href='{% url "auth_login" %}'>Log in to your account</a>.
