- load compressed
!!!
%html
  %head
    %meta{'charset': 'utf-8'}
    %meta{'name': 'viewport', content: 'width=device-width'}
    %title
      -block title
        MBrace

    - compressed_css 'foundation'
    - compressed_js 'foundation'
    - compressed_css 'app'

    %link{href: "{{ STATIC_URL }}css/facebook.css", type: "text/css", rel: "stylesheet", media: "all"}
    {% include 'django_facebook/_facebook_js.html' %}
    -block head
  %body
    -block header
      %nav.top-bar
        %ul.title-area
          %li.name
            %h1
              %a{href: "/"} mbrace
          %li.toggle-topbar.menu-icon
            %a{href: '#'}
              %span
                Menu
        %section.top-bar-section
          %ul.right
            -if user.is_authenticated
              %li
                %a{'href': "{%url 'dashboard'%}"} My Dashboard
            -else
              %li
                %form{action: '{% url "facebook_connect" %}?facebook_login=1', method: 'post'}
                  %a{ class: 'button', href: 'javascript:void(0);', onclick: 'F.connect(this.parentNode);'} Sign In
                  %input{ type: "hidden", value: "{% url 'dashboard' %}", name: "next"}
                  %input{ type: "hidden", value: "{% url 'dashboard' %}", name: "register_next"}
                  %input{ type: "hidden", value: "{{ request.path }}", name: "error_next"}
                  {% csrf_token %}
            %li.has-dropdown
              %a{href: '/contactFIXME'} Support
              %ul.dropdown
                %li
                  %a{href: '/FAQFIXME'} FAQ
                  %a{href: '/privacy_policyFIXME'} Privacy Policy
            -if user.is_authenticated
              %li
                %a{'href': "{%url 'auth_logout'%}"} Logout

    - if messages
      .row
        %ul.messages
          -for message in messages
            %div{ class: '{{message.tags}} alert-box'}
              {{ message }}

    -block content

:javascript
    $(document).foundation();

