- load compressed
!!!
%html
  %head
    %meta{'charset': 'utf-8'}
    %meta{'name': 'viewport', content: 'width=device-width'}
    %title
      -block title
        MBrace

    - compressed_css 'foundation'
    - compressed_css 'app'
    - compressed_js 'libraries'
    - compressed_js 'foundation'

    %link{href: "{{ STATIC_URL }}css/facebook.css", type: "text/css", rel: "stylesheet", media: "all"}
    -block head
  %body
    -block header
      %nav.top-bar
        %ul.title-area
          %li.name
            %h1
              %a{href: "/"} mbrace
          %li.toggle-topbar.menu-icon
            %a{href: '#'}
              %span
                Menu
        %section.top-bar-section
          %ul.right
            -if user.is_authenticated
              %li
                %a{'href': "{%url 'dashboard'%}"} My Dashboard
            -else
              %li
                %a{ class: 'button', href: '{% url "auth_login" %}'} Sign In
              %li
                %a{ class: 'button secondary', href: '/invitationsFIXME'} Request an Invite
            %li.has-dropdown
              %a{href: '/contactFIXME'} Support
              %ul.dropdown
                %li
                  %a{href: '/FAQFIXME'} FAQ
                  %a{href: '/privacy_policyFIXME'} Privacy Policy
            -if user.is_authenticated
              %li
                %a{'href': "{%url 'auth_logout'%}"} Logout

    - if messages
      .row
        %ul.messages
          -for message in messages
            %div{ class: '{{message.tags}} alert-box'}
              {{ message }}

    -block content

:javascript
    $(document).foundation();

