/* line 241, ../foundation/scss/foundation/components/_global.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 246, ../foundation/scss/foundation/components/_global.scss */
html,
body {
  font-size: 100%;
}

/* line 249, ../foundation/scss/foundation/components/_global.scss */
body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

/* line 262, ../foundation/scss/foundation/components/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 265, ../foundation/scss/foundation/components/_global.scss */
a:focus {
  outline: none;
}

/* line 270, ../foundation/scss/foundation/components/_global.scss */
img,
object,
embed {
  max-width: 100%;
  height: auto;
}

/* line 273, ../foundation/scss/foundation/components/_global.scss */
object,
embed {
  height: 100%;
}

/* line 274, ../foundation/scss/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 280, ../foundation/scss/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 285, ../foundation/scss/foundation/components/_global.scss */
.left {
  float: left !important;
}

/* line 286, ../foundation/scss/foundation/components/_global.scss */
.right {
  float: right !important;
}

/* line 287, ../foundation/scss/foundation/components/_global.scss */
.text-left {
  text-align: left !important;
}

/* line 288, ../foundation/scss/foundation/components/_global.scss */
.text-right {
  text-align: right !important;
}

/* line 289, ../foundation/scss/foundation/components/_global.scss */
.text-center {
  text-align: center !important;
}

/* line 290, ../foundation/scss/foundation/components/_global.scss */
.text-justify {
  text-align: justify !important;
}

/* line 291, ../foundation/scss/foundation/components/_global.scss */
.hide {
  display: none;
}

/* line 297, ../foundation/scss/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
}

/* line 300, ../foundation/scss/foundation/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 310, ../foundation/scss/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 313, ../foundation/scss/foundation/components/_global.scss */
select {
  width: 100%;
}

/* Panels */
/* line 66, ../foundation/scss/foundation/components/_panels.scss */
.panel {
  border-style: solid;
  border-width: 1px;
  border-color: #d9d9d9;
  margin-bottom: 1.25em;
  padding: 1.25em;
  background: #f2f2f2;
}
/* line 44, ../foundation/scss/foundation/components/_panels.scss */
.panel > :first-child {
  margin-top: 0;
}
/* line 45, ../foundation/scss/foundation/components/_panels.scss */
.panel > :last-child {
  margin-bottom: 0;
}
/* line 50, ../foundation/scss/foundation/components/_panels.scss */
.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6, .panel p {
  color: #333333;
}
/* line 54, ../foundation/scss/foundation/components/_panels.scss */
.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6 {
  line-height: 1;
  margin-bottom: 0.625em;
}
/* line 56, ../foundation/scss/foundation/components/_panels.scss */
.panel h1.subheader, .panel h2.subheader, .panel h3.subheader, .panel h4.subheader, .panel h5.subheader, .panel h6.subheader {
  line-height: 1.4;
}
/* line 68, ../foundation/scss/foundation/components/_panels.scss */
.panel.callout {
  border-style: solid;
  border-width: 1px;
  border-color: #2284a1;
  margin-bottom: 1.25em;
  padding: 1.25em;
  background: #2ba6cb;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
/* line 44, ../foundation/scss/foundation/components/_panels.scss */
.panel.callout > :first-child {
  margin-top: 0;
}
/* line 45, ../foundation/scss/foundation/components/_panels.scss */
.panel.callout > :last-child {
  margin-bottom: 0;
}
/* line 51, ../foundation/scss/foundation/components/_panels.scss */
.panel.callout h1, .panel.callout h2, .panel.callout h3, .panel.callout h4, .panel.callout h5, .panel.callout h6, .panel.callout p {
  color: white;
}
/* line 54, ../foundation/scss/foundation/components/_panels.scss */
.panel.callout h1, .panel.callout h2, .panel.callout h3, .panel.callout h4, .panel.callout h5, .panel.callout h6 {
  line-height: 1;
  margin-bottom: 0.625em;
}
/* line 56, ../foundation/scss/foundation/components/_panels.scss */
.panel.callout h1.subheader, .panel.callout h2.subheader, .panel.callout h3.subheader, .panel.callout h4.subheader, .panel.callout h5.subheader, .panel.callout h6.subheader {
  line-height: 1.4;
}
/* line 73, ../foundation/scss/foundation/components/_panels.scss */
.panel.radius {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 3, app.scss */
.row.full-width {
  margin-top: -30px;
  padding-top: 2em;
  max-width: 93%;
}

/* line 10, app.scss */
.center {
  text-align: center;
}

/* line 14, app.scss */
.huggee-chat {
  border-style: solid;
  border-width: 1px;
  border-color: #ff8da1;
  margin-bottom: 1.25em;
  padding: 10px;
  background: pink;
}
/* line 44, ../foundation/scss/foundation/components/_panels.scss */
.huggee-chat > :first-child {
  margin-top: 0;
}
/* line 45, ../foundation/scss/foundation/components/_panels.scss */
.huggee-chat > :last-child {
  margin-bottom: 0;
}
/* line 50, ../foundation/scss/foundation/components/_panels.scss */
.huggee-chat h1, .huggee-chat h2, .huggee-chat h3, .huggee-chat h4, .huggee-chat h5, .huggee-chat h6, .huggee-chat p {
  color: #333333;
}
/* line 54, ../foundation/scss/foundation/components/_panels.scss */
.huggee-chat h1, .huggee-chat h2, .huggee-chat h3, .huggee-chat h4, .huggee-chat h5, .huggee-chat h6 {
  line-height: 1;
  margin-bottom: 0.625em;
}
/* line 56, ../foundation/scss/foundation/components/_panels.scss */
.huggee-chat h1.subheader, .huggee-chat h2.subheader, .huggee-chat h3.subheader, .huggee-chat h4.subheader, .huggee-chat h5.subheader, .huggee-chat h6.subheader {
  line-height: 1.4;
}

/* line 18, app.scss */
.hugger-chat {
  border-style: solid;
  border-width: 1px;
  border-color: #04c5ff;
  margin-bottom: 1.25em;
  padding: 10px;
  background: #37d1ff;
}
/* line 44, ../foundation/scss/foundation/components/_panels.scss */
.hugger-chat > :first-child {
  margin-top: 0;
}
/* line 45, ../foundation/scss/foundation/components/_panels.scss */
.hugger-chat > :last-child {
  margin-bottom: 0;
}
/* line 50, ../foundation/scss/foundation/components/_panels.scss */
.hugger-chat h1, .hugger-chat h2, .hugger-chat h3, .hugger-chat h4, .hugger-chat h5, .hugger-chat h6, .hugger-chat p {
  color: #333333;
}
/* line 54, ../foundation/scss/foundation/components/_panels.scss */
.hugger-chat h1, .hugger-chat h2, .hugger-chat h3, .hugger-chat h4, .hugger-chat h5, .hugger-chat h6 {
  line-height: 1;
  margin-bottom: 0.625em;
}
/* line 56, ../foundation/scss/foundation/components/_panels.scss */
.hugger-chat h1.subheader, .hugger-chat h2.subheader, .hugger-chat h3.subheader, .hugger-chat h4.subheader, .hugger-chat h5.subheader, .hugger-chat h6.subheader {
  line-height: 1.4;
}

/* line 22, app.scss */
.top-bar-section ul li > form > a {
  font-size: 13px;
}
