@import "../foundation/scss/foundation/variables", "../foundation/scss/foundation/components/global", "../foundation/scss/foundation/components/panels";

.row.full-width {
  margin-top: -30px;
  padding-top: 2em;

  max-width: 93%;
}

.center {
  text-align: center;
}

.huggee-chat {
  @include panel(pink, 10px)
}

.hugger-chat {
  @include panel(#37D1FF, 10px)
}

.top-bar-section ul li > form > a {
  font-size: 13px;
}
